<section class="authentication">
  <h1>Sign Up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <fieldset>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </fieldset>

    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </fieldset>
    
    <fieldset>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </fieldset>
  
    <%= button_tag('Sign Up', type: 'submit') %> <%= render "devise/shared/links" %>

  <% end %>
</section>