<% if @poll.active? %>
  <h1>
    Poll is still being voted on...
  </h1>
<% else %>
  <h1>
    Poll is over, here are the results...
  </h1>
  
  <section class="results">
    <h2>
      <%= @poll.question %>
    </h2>
    
    <% @responses.each do |response| %>
      <% response_count = response.votes.count %>
      <% percent = (@vote_count == 0 ? 0 : (100 * response_count) / @vote_count) %>
    
        <div class="result <%= "correct" if response.correct %>">
          <div class="response clearfix">
            <span class="pull-left">
              <%= response.content %> 
              
            </span>
            <span class="pull-right">
              <small>[<%= pluralize response_count, "student" %>]</small>
              <% if response.correct %>
                <i class="fa fa-birthday-cake"></i>      
              <% end %>
            </span>
          </div>
          
          <div class="strength" data-percent="<%= percent %>">
          </div>
        </div>
    <% end %>
  </section>
<% end %>

<script>
  var colors = ['orange', 'blue', 'green', 'yellow', 'black', 'purple']

  $('div.strength').each(function(i) {
    var $div = $(this);
    $div.css('background', colors[i]);
    
    var percent = $div.data('percent');
    $div.animate({
      width: percent + "%"
    }, 1000);
  })
</script>