<!DOCTYPE html>
<html>
<head>
  <title>SnapPolls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="notifications">
    <% if notice %>
      <p class="notice">
        <%= notice %>
      </p>
    <% end %>
    <% if alert %>
      <p class="alert">
        <%= alert %>
      </p>
    <% end %>
  </header>
  
  <main>
    <%= yield %>
  </main>

</body>
</html>
